body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Courier New", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 72px; /* this sets the ems and font-size %*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  /* display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; */ /* These wer making the divs inline instead of block! */
  background-color: pink;
  font: Courier;
  width: 100%;
  text-align: center;
  font-family: "Courier New";
  margin: 0 auto;
}

.header {

  background-color: blue;
  font-size: 100%;
  /* height: 3em; */
  /* display: inline-block; */
  /* clear: both; */
  /* width: 50%; */
  /* display: block; */

}

.strikethrough {
  text-decoration: line-through;
}

.navbar {
  font-size: 25%;
  margin: 1em 0;
  /* height: 1em; */
  /* height: 2em; */
  /* font-size: 1em; */

  /* display: inline-block; */
}

.navlink {
  display: inline-block;
  margin: 0 1em;
  /* width: 10em; */
  /* width: 50%; */
}
