/* CSS works bottom up for responsive design, assuming base case is a device with resolution of 320px wide */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Courier New", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; /* this sets the ems and font-size %*/
  background-image: url("./images/birch-tree-background.png") /* 320px wide per base case above */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* probably need a div {} that is 0em auto */

.app-container {
  /* display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; */ /* These wer making the divs inline instead of block! */
  width: 100%;
  text-align: center;
  font-family: "Courier New";
  margin: 0em auto;
}

.header {
  /* background-color: blue; */
  font-size: 400%;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 0.5em;
  background-color: white;
  border: .1em solid grey;
  width: 90%;
  max-width: 700px;
  /* padding-top: 0.25em; */
  /* height: 3em; */
  /* display: inline-block; */
  /* clear: both; */
  /* width: 50%; */
  /* display: block; */

}

.strikethrough {
  text-decoration: line-through;
}

.navbar {
  font-size: 100%;
  font-weight: bold;
  margin: 1em auto;
  background-color: white;
  border: .25em solid grey;
  width: 90%;
  max-width: 700px;
  padding: .25em 0;
  /* background-color: pink; */
  /* height: 1em; */
  /* height: 2em; */
  /* font-size: 1em; */

  /* display: inline-block; */
}

a:link {
  color: black; /* check that this works */
}

a:visited {
  color: black; /* check that this works */
}

/* a:hover {
  color: blue;
} */

.navlink {
  display: inline-block;
  margin: 0 1em;
  /* width: 10em; */
  /* width: 50%; */
}

input {
  font-family: Courier;
  font-size: 100%;
}

input[type="submit"] {
  /* background-color: pink; */
  border: .25em solid black;
  height: 2.5em;
  /* height: 200%; */
}

#search-input {
  display: inline-block;
  margin-right: 1em;
  height: 2em;
  border: .25em solid black;
  background-color: #e7e7e7;
  width: 60%;
  max-width: 600px;
}

#search-submit-button {
  display: inline-block;
  border: 1em solid black;
  height: 100%;
  /* height: 2.5em; */
  width: 20%;
  max-width: 200px;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* font-family: Courier; */
}

#clear-search-button {
  width: 60%;
  max-width: 600px;
  height: 100%;
  margin-top: 1em;
  background-color: black;
  color: white;
  border: .25em solid grey;
  /* font-size: 3em; */
}

.error-display {
  /* height: 2em; */
  background-color: pink;
  border: .25em solid red;
  width: 75%;
  max-width: 700px;
  margin: 0em auto;
  margin-top: 1em;
  /* margin-bottom: 1em; */
  padding: 0.25em;
  font-weight: bold;

}

.big-divider {
  border: 1px solid grey;
  width: 80%;
  margin: 1em auto;
}

.small-divider {
  border: 1px solid #e7e7e7;
  width: 100%;
  margin: 1em auto;
}

.search-results-container {
  margin: 0 auto;
  width: 80%;
}

#search-results-header {
  background-color: white;
  border: .25em solid grey;
  margin-top: 1em;
  /* padding-bottom: 2em; */
}

.search-results-header-text {
  padding-bottom: .75em;
}

.bold-text {
  font-weight: bold;
}

.book-record {
  background-color: white;
  border: .25em solid grey;
  margin-top: 1em;
}

.search-results-footer {
  padding-top: 1em;
  /* padding-bottom: 0; */
  margin-top: 1em;
  margin-bottom: 3em;
  background-color: white;
  border: .25em solid grey;
}

.loader {
  margin: 0 auto;
  margin-bottom: 1em;
  border: 10px solid #e7e7e7;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 800px) {

  body {
    font-size: 20px;
  }


}
